<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HttpPort" value="8090" />
    <add key="GrpcPort" value="50051" />
    <add key="UdpDiscoveryPort" value="9999" />
    <add key="StatusCheckIntervalSeconds" value="15" />
    <add key="MaxRetries" value="3" />
    <add key="RetryBackoffBaseMs" value="500" />
    <add key="DefaultPrinterPort" value="9100" />
    <add key="TcpTimeoutMs" value="5000" />
    <add key="TcpConnectTimeoutMs" value="3000" />
    <add key="NetworkWatcherIntervalSeconds" value="30" />
    <add key="ArpScanIntervalSeconds" value="60" />
    <add key="AutoLearnGatewayOnFirstRun" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.21.12.0" newVersion="3.21.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
